@model OnlineJewelleryShop.Models.JewelleryMasterListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<a href="@Url.Action("Detail","Jewellery")" class="btn btn-primary"> New</a>
<div style="text-align: Center">
    <h3> <label>Jewellery Management</label></h3>
</div>
<table class="table table-bordered" style=" margin-top: 1%;">
    <thead>
        <tr>
            <td>Jewellery Name</td>
            <td>Jewellery Type</td>
            <td>Price</td>
            <td>Jewellery Category</td>
            <td>Jewellery Image</td>
            <td style="width: 15%;">Action</td>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.JewelleryList)
        {
        <tr>
            <td>@item.JewelleryName</td>
            <td>@item.JewelleryTypeName</td>
            <td>@item.Price</td>
            <td>@item.JewelleryCategoryName</td>
            <td><img src="/UserImages/@item.JewelleryImage" alt="" height=60 width=60 /> </td>
            <td>
                <a href="@Url.Action("Detail","Jewellery")?Id=@item.Id" class="btn btn-info">Edit</a>
                <a href="@Url.Action("Delete","Jewellery")?Id=@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>

        }
    </tbody>
</table>
